<header class="bg-black text-white py-4 px-4">
    <nav>
        {% include 'Includes/Nav.twig' %}
        {% if pageName is defined %}
            <div id="filter">
                {% include pageName|capitalize ~ '/Filter.twig' %}
            </div>
        {% endif %}
    </nav>
</header>

<div style="height: 120px;"></div>