<header class="bg-black text-white py-4 px-4">
    <nav class="flex items-center justify-left menu-list">
        {% include 'Includes/Nav.twig' %}
    </nav>
</header>

<div class="dark:bg-slate-800" style="height: 120px;"></div>
