<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RICK&MORTY</title>
</head>
<body>

<header class="bg-black text-white py-4 px-4">

    <nav>
        <ul class="menu-list">
            <li>
                <a href="/characters" class="font-bold text-bold {{ pageName == 'characters' ? 'active' : '' }}">Characters</a>
            </li>
            <li>
                <a href="/episodes" class="font-bold text-bold {{ pageName == 'episodes' ? 'active' : '' }}">Episodes</a>
            </li>
            <li>
                <a href="/locations" class="font-bold text-bold {{ pageName == 'locations' ? 'active' : '' }}">Locations</a>
            </li>
            <li>
                <button id="search-button">
                    <span class="inline">Filter</span>
                </button>
            </li>
        </ul>
    </nav>

    <div id="filter" class="filter">
        {% if pageName is defined %}
            {% include pageName|capitalize ~ '/Filter.twig' %}
        {% endif %}
    </div>

</header>

<div style="height: 120px;"></div>

</body>
</html>
