<ul class="menu-list">
    <li>
        <a href="/characters/home" class="font-bold text-bold {{ pageName == 'characters' ? 'active' : '' }}">Characters</a>
    </li>
    <li>
        <a href="/episodes/home"
           class="font-bold text-bold {{ pageName == 'episodes' ? 'active' : '' }}">Episodes</a>
    </li>
    <li>
        <a href="/locations/home"
           class="font-bold text-bold {{ pageName == 'locations' ? 'active' : '' }}">Locations</a>
    </li>
    <li>
        <button id="search-button">
            <span class="inline">Filter</span>
        </button>
    </li>
</ul>

{% if pageName is defined %}
    <div id="filter">
        {% include pageName|capitalize ~ '/Filter.twig' %}
    </div>
{% endif %}