<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>RICK&MORTY</title>


    {% block head %}

        <title>{% block title %}RICK&MORTY{% endblock %}</title>

        <!-- Main navigation container -->
        <nav
                class="relative flex w-full flex-wrap items-center justify-between bg-neutral-900 py-2 text-neutral-200 shadow-lg lg:flex-wrap lg:justify-start lg:py-4"
                data-te-navbar-ref>
            <div class="flex w-full flex-wrap items-center justify-between px-3">
                
                <!-- Collapsible navigation container -->
                <div
                        class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto"
                        id="navbarSupportedContent4"
                        data-te-collapse-item>
                    <!-- Navbar title -->
                    <a class="pr-2 text-xl font-semibold text-white" href="/">Home</a>
                    <!-- Left navigation links -->
                    <ul
                            class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row"
                            data-te-navbar-nav-ref>
                        <!-- Character link -->
                        <li class="my-4 lg:my-0 lg:pr-2" data-te-nav-item-ref>
                            <a
                                    class="text-white disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
                                    href="/characters"
                                    data-te-nav-link-ref
                            >Characters</a
                            >
                        </li>
                        <!-- Location link -->
                        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                            <a
                                    class="p-0 text-white opacity-60 hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
                                    href="/locations"
                                    data-te-nav-link-ref
                            >Locations</a
                            >
                        </li>
                        <!-- Episode link -->
                        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                            <a
                                    class="p-0 text-white opacity-60 hover:opacity-80 focus:opacity-80 disabled:text-black/30 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
                                    href="/episodes"
                                    data-te-nav-link-ref
                            >Episodes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    {% endblock %}

    <br><br><br>
</head>
<body>
<div id="content"
{% block content %}{% endblock %}

<div id="footer">

    {% block footer %}
    {% endblock %}

</div>
</body>
</html>

