.menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    margin: 0 10px;
}

.menu-list li a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-list li a:hover,
.menu-list li a.active {
    color: #ffcc00;
}

.menu-list,
.search-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}