@import url('pagination.css');
@import url('list.css');
@import url('media.css');
@import url('anim.css');

nav {
    min-height: 48px;
}

#filter {
    display: none;
}

#search-button:hover {
    cursor: pointer;
    color: #ffcc00;
}

.active {
    color: #ffcc00;
}