<div class="bg-black text-white py-4 px-4">
    <nav>
        <ul class="menu-list">
            <li><a href="/" class="hover:text-gray-300 text-bold font-bold">Home</a></li>
            <li><a href="/characters" class="hover:text-gray-300 font-normal">Characters</a></li>
            <li><a href="/episodes" class="hover:text-gray-300 font-normal">Episodes</a></li>
            <li><a href="/locations" class="hover:text-gray-300 font-normal">Locations</a></li>
            <li><a href="/search" class="hover:text-gray-300 font-normal">Search</a></li>
        </ul>
    </nav>
</div>
