<!DOCTYPE html>
<html class="" lang="en">

{% block head %}
    {% include 'Includes/Head.twig' %}
{% endblock %}

{% block header %}
    {% include 'Includes/Header.twig' %}
{% endblock %}

<body class="dark:bg-stone-900 dark:text-white">
{% block content %}

{% endblock %}
</body>


{% block footer %}
    {% include 'Includes/Footer.twig' %}
{% endblock %}


</html>
