<div class="bg-black text-white py-4 px-4">
    <nav>
        <form action="/{{ pageName }}/filter" method="post">
            <ul class="menu-list">
                <li class="w-full md:w-1/2">
                    <label for="name" class="text-white text-sm font-bold">Name:</label>
                    <input type="text" id="name" name="name" class="w-full px-2 py-1 border rounded-md bg-black text-white">
                </li>

                <li class="w-full md:w-1/2">
                    <label for="type" class="text-white text-sm font-bold">Type:</label>
                    <input type="text" id="type" name="type" class="w-full px-2 py-1 border rounded-md bg-black text-white">
                </li>

                <li class="w-full md:w-1/2">
                    <label for="dimension" class="text-white text-sm font-bold">Dimension:</label>
                    <input type="text" id="dimension" name="dimension" class="w-full px-2 py-1 border rounded-md bg-black text-white">
                </li>

                <li class="w-full py-5">
                    <button type="submit" class="px-4 py-2 bg-gray-800 text-white rounded-lg hover-bg-gray-900 focus:outline-none">
                        Filter
                    </button>
                </li>
            </ul>
        </form>
    </nav>
</div>