<form id="filterForm" data-page-name="{{ pageName|e('html_attr') }}">
    <ul class="menu-list">
        <li class="w-full mb-4 md:mb-0">
            <input type="text" id="name" name="name" placeholder="Name"
                   class="w-full px-2 py-1 border rounded-md bg-black text-white">
        </li>

        <li class="w-full mb-4 md:mb-0">
            <input type="text" id="type" name="type" placeholder="Type"
                   class="w-full px-2 py-1 border rounded-md bg-black text-white">
        </li>

        <li class="w-full mb-4 md:mb-0">
            <input type="text" id="dimension" name="dimension" placeholder="Dimension"
                   class="w-full px-2 py-1 border rounded-md bg-black text-white">
        </li>
    </ul>
</form>
